<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.nasdaq.biz.mapper.JobPlaceMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.nasdaq.biz.domain.JobPlaceDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmtCreate" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmtModified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="columns" >
    id, gmtCreate, gmtModified, status, name
  </sql>
   <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select  <include refid="columns" /> from jobPlace where status = 0 
  	<if test="limitSize != null" >
        limit 0 , #{limitSize,jdbcType=INTEGER}
    </if>
  </select>
</mapper>