<!DOCTYPE html>
<html>
	<head>
		<title>容易网，全渠道O2O技术营销解决方案提供商</title>
		<meta name="description" content="容易网,最专业的零售O2O服务平台。逛商场：最全面的商场导购资讯，随愿随行。搜店铺：服饰鞋包美妆珠宝家居亲子运动娱乐餐饮店铺一网打尽。享优惠：商场互动品牌优惠折扣团购一站参与。合理定义商圈、地标、商户分类，为您提供上海万家品牌商户，更有用户评价和专业资讯帮助你做选择。">
		<meta name="keywords" content="容易网,上海购物,购物优惠,逛街,上海购物攻略,上海购物网,导购服务,容易">
	</head>
	<body>
		<h2>hello world!!!</h2>
	</body>
</html>