 <div id="zztj" >© 2014 零花钱网 | 苏ICP备14005249号-1    <img src="/static/img/QQicon.png" alt="QQ群" style=" vertical-align:middle;margin:0 5px 0 20px"/>QQ群：304664250</div>
##百度统计代码
<div style="display:none">
<script src=" http://hm.baidu.com/h.js?abf1d8932409b44fe20fcdef603ef7bc" type="text/javascript"></script>
</div>

<div id="cboxOverlay" style="display:none"></div>
