/**
 * 媒体报道 - 列表 CSS
 * author:叉叉哥 - 吴操
 * date:2014-05-23
 */
 
 
.content-center {
	margin-top: 80px;
}

#right-content {
	float: left;
	margin-left: 62px;
	width: 676px;
}

#news-list {
	margin-top: 50px;
	min-height: 500px;
	margin-bottom: 104px;
}
.news-div {
	border-bottom: 1px dashed #c1cfd9;
	margin-top: 20px;
	padding-bottom:22px;
}
.news-title {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.news-abstract {
	line-height: 25px;
}
.news-abstract a {
	color: #ff4900;
	margin-left: 10px;
}

.pager {
	margin-bottom: 104px;
}